* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif;
  visibility: hidden;
}

header {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-image: url("./Barebites-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  color: black;
  font-family: 'Kalam', cursive;
  font-size: 80px;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 12px;
  cursor: pointer;
  height: 15px;
}

.header-container {
  margin: 20px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  width: 70px;
  height: 70px;
}

.logo-text {
  margin-top: 12px;
  margin-left: 3px;
}

.links-container {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.underline {
  width: 100%;
  border-top: 1px solid #F37230;
  margin-top: 5px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.text-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F37230;
  font-weight: lighter;
}

.slogan {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h1-text {
  width: 100%;
  text-align: center;
}

.content {
  height: 25vh;
  min-height: 210px;
  max-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.btn {
  border: none;
  padding: 13px;
  background: white;
  font-family: 'Arvo', sans-serif;
  border-radius: 25px;
  cursor: pointer;
  width: 110px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn p {
  cursor: pointer;
  width: 100%;
  font-size: 13px;
}

.find {
  background-color: #F37230;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid #F37230;
}

.find:hover {
  background-color: white;
  color: #F37230;
  border: 2px solid #F37230;
}

.order {
  background-color: #faa331;
  border: 2px solid #faa331;
  cursor: pointer;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 10px;
}

.order:hover {
  background-color: white;
  border: 2px solid #faa331;
  color: #faa331;
}

.menu-btn {
  display: none;
  z-index: 4;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #faa331;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-links-container {
  width: 100%;
  height: 240px;
  margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-link {
  cursor: pointer;
}

.footer-logo {
  position: absolute;
  bottom: 100px;
}

.footer-text {
  color: white;
}

@media only screen and (max-width: 700px) {
  .btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn {
    margin: 8px 0px 8px 0px;
  }
  .link {
    display: none;
  }
  .menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60px;
    height: 60px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .menu-btn-line_2 {
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .menu-btn-line_1,
  .menu-btn-line_3 {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .menu-btn-line_1 {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  .menu-btn-line_3 {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  .menu-btn-line_2.open {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    background: transparent;
  }
  .menu-btn-line_1.open {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .menu-btn-line_3.open {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .line {
    cursor: pointer;
  }
}

@media only screen and (max-width: 420px) {
  .slogan {
    width: 310px;
  }
  .slogan h2 {
    font-size: 20px;
  }
  .btn {
    padding: 30px;
    border-radius: 50px;
    width: 180px;
    height: 50px;
  }
  .btn p {
    font-size: 16px;
  }
  h1 {
    line-height: 100px;
    margin-top: 20px;
  }
  .text-container {
    margin-top: 20px;
  }
  .mobile-link {
    font-size: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .slogan {
    width: 260px;
  }
  .slogan h2 {
    font-size: 18px;
  }
  .text-container {
    margin-top: 0px;
  }
}

@media only screen and (max-height: 570px) {
  .footer-logo {
    bottom: 100px;
  }
}

.resize-animation-stopper {
  -webkit-transition: none !important;
  transition: none !important;
  -webkit-animation: none !important;
          animation: none !important;
}
/*# sourceMappingURL=style.css.map */